{% extends "base.html" %}

{% block title %}
  حول الموقع
{% endblock %}


{% block body %}
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto autoo">
                <h2 class="fontme">حول موقع حصن المسلم</h2>
                <hr>

                <p class="fontme">
                    حصن المسلم من أذكار الكتاب والسنة تأليف سعيد بن علي بن وهف القحطاني حرر في شهر صفر 1409هـ والكتاب يحتوي على أذكار النبي محمد صلى الله عليه وسلم في مختلف مواضع الحياة اليومية وهو من أكثر الكتب الإسلامية انتشارا لسهولة أسلوبه والتزامه بالصحيح من الأحاديث.

                </p>
                <hr>
                <p class="fontme">
                    ايضا شكر خاص لموقع (www.hisnmuslim.com)
                </p>


              </div>
        </div>
    </div>
</section>
{% endblock %}
