@font-face {
    font-family: 'Variants';
    src: url('../fonts/Variants.ttf')  format("truetype"),
         local('Variants');
  }
  @font-face {
      font-family: 'Tajawal';
      src: url('../fonts/Tajawal.ttf')  format("truetype"),
           local('Tajawal');
    }
    @font-face {
      font-family: 'َquran';
      src: url('../fonts/quran.ttf')  format("truetype"),
           local('quran');
        }
  body{
    font-family: 'Tajawal', sans-serif;
  }
html, body{
    direction: rtl;
    text-align: center;
}
.fontme{
  font-family: 'Variants', sans-serif;
  font-size: 25px;
  font-style: normal;
  font-display: auto;
}
.font{
  font-family: 'Tajawal', sans-serif;
}
.icona{

  font-size: 33px;
  font-size: 33px;
}
.navbarme{
  background-color: rgb(215, 114, 69);
  border: 1px solid rgb(0, 255, 163);
}
.drop{
  font-size: 25px;
  font-family: 'Variants', sans-serif;
  border-radius: 20px;
  background-color: rgb(50, 50, 50);
  border: 1px solid rgb(0, 255, 133);
  text-align: center;
}
.drops:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.drops:focus{
  background-color: rgb(20, 212, 154);
  color: black;
}
.en{
  direction: ltr;
  text-align: center;
}
.top{
  direction: ltr;
  text-align: left;
}
.searchs{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    text-align: center;
    height: 55px;
    border: 2px solid #ffffff;
    width: 55px;
    background-color: initial;
  }

  .se:herv {
  }

  .se:hover {
    background-color: rgba(255,255,255,0.42);
  }
.se{
  width: 55px;
}
