{% extends "base_en.html" %}
{% block title %}
  About
{% endblock %}
{% block body %}
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto autoo">
                <h2 class="fontme">About Husin Muslim : </h2>
                <hr>

                <p class="fontme">
                  The Muslim’s Fortress from the Remembrance of the Book and the Sunnah contains the remembrances of the Prophet Muhammad, may God’s prayers and peace be upon him, in various places of daily life. It is one of the most widely used Islamic books for the ease of his style and his commitment to the authentic hadiths.
                  </p>
                <hr>
                <p class="fontme">
                  Thank You For Site : (www.hisnmuslim.com)
                </p>


              </div>
        </div>
    </div>
</section>
{% endblock %}
