{% extends "base_en.html" %}
{% block title %}
  Connect
{% endblock %}
{% block body %}
<section id="about" class="content-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto autoo">
                <h2 class="fontme">Content us : </h2>
                <hr>

                <p class="fontme"> Tel : 716251010
                <br>
                Email : (salahfordevelper@gmail.com)
                </p>
                <hr>
                <p class="fontme">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-snapchat"></i></a>
                </p>


              </div>
        </div>
    </div>
</section>
{% endblock body %}
